@page "/authentication/login"
@page "/login"

<PageTitle>Login</PageTitle>

<div class="form">
    <form class="loginForm">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" style="width: 120%">
            <br>
            <label for="password">Password:</label>
        <input type="password" name="password" id="password" style="width: 120%">
            <br>
            <button class="btn btn-dark" style="margin-bottom: 10px">Login</button>
     </form>

    <div class="fbButton">
        <button class="btn btn-primary btn-block" style="margin-left: -55px">Sign in with Facebook</button>
     </div>

</div>


@code {

}