@page "/authentication/login"
@page "/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>
@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
<EditForm Model="_userForAuthentication" OnValidSubmit="ExecuteLogin" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="username" class="col-md-2 col-form-label">Username:</label>
        <div class="col-md-10">
            <InputText id="username" class="form-control" @bind-Value="_userForAuthentication.UserName" />
            <ValidationMessage For="@(() => _userForAuthentication.UserName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForAuthentication.Password" />
            <ValidationMessage For="@(() => _userForAuthentication.Password)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</EditForm>

@*<div class="form">
    <form class="loginForm">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" style="width: 120%">
            <br>
            <label for="password">Password:</label>
        <input type="password" name="password" id="password" style="width: 120%">
            <br>
            <button class="btn btn-dark" style="margin-bottom: 10px">Login</button>
     </form>

    <div class="fbButton">
        <button class="btn btn-primary btn-block" style="margin-left: -55px">Sign in with Facebook</button>
     </div>

</div>*@


@code {

}