@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime
@using System.Security.Claims

    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
        <li class="nav-item">
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
        <li class="nav-item">
             <NavLink class="nav-link" style="color:wheat">
                @context.User.FindFirst(ClaimTypes.Name).Value is authorized
            </NavLink>
        </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="registration">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Registration
                </NavLink>
            </li>

        </NotAuthorized>
    </AuthorizeView>


@code {
}
