@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;
@inject IJSRuntime jsRunn

<NavMenu />

<main class="container">
    @Body
</main>

@code{

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        await jsRunn.InvokeVoidAsync("fbAsyncInit");
    }
}